#include <winver.h>
#include <ntdef.h>

1 VERSIONINFO
FILEVERSION             1,2,5,0
PRODUCTVERSION        	1,2,5,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILETYPE                VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "A motion adaptive (it only works on stationary parts of the picture), temporal smoothing filter."
        VALUE "FileDescription",  "TTempSmooth for AviSynth 2.6 / AviSynth+"
        VALUE "FileVersion",      "1.2.5"
        VALUE "InternalName",     "vsTTempSmooth"
        VALUE "OriginalFilename", "vsTTempSmooth.dll"
        VALUE "ProductName",      "vsTTempSmooth"
        VALUE "ProductVersion",   "1.2.5"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
